<form method="post" action="{{ path('app_insurance_guarantee_delete', {'id': insurance_guarantee.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ insurance_guarantee.id) }}">
    <button class="btn">Delete</button>
</form>
