{% extends 'base.html.twig' %}

{% block title %}New InsuranceGuarantee{% endblock %}

{% block body %}
    <h1>Create new InsuranceGuarantee</h1>

    {{ include('insurance_guarantee/_form.html.twig') }}

    <a href="{{ path('app_insurance_guarantee_index') }}">back to list</a>
{% endblock %}
